<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.study">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WebViewActivity"></activity>
        <activity android:name=".DialogActivity" />
        <activity android:name=".ToastActivity" />
        <activity android:name=".EventActivity" />
        <activity android:name=".datastorage.FileActivity" />
        <activity android:name=".datastorage.DataStorageActivity" />
        <activity android:name=".UIActivity" />
        <activity android:name=".TextViewActivity" />
        <activity android:name=".MainActivity">

            <!-- 包名.Mainactivity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- 开机启动activity为mainactivity -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>